language: ruby

rvm:
  - 2.0.0
  - 2.1.6
  - 2.2.3

gemfile:
  - gemfiles/ar40.gemfile
  - gemfiles/ar41.gemfile
  - gemfiles/ar42.gemfile

matrix:
  allow_failures:
    - gemfile: gemfiles/ar42.gemfile
