name: build
on:
  pull_request:
  push:
      branches:
        - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [3.0]
        experimental: [false]
        include:
          - ruby-version: 3.2
            experimental: true
          - ruby-version: 3.3
            experimental: true                  
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: 'false'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs `bundle install` and caches installed gems automatically
      - run: bundle exec appraisal install
      - run: bundle exec appraisal rspec
